<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Department</h3>

    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#departmentModal"
      (click)="addDepartment()"
    >
      Add Department
    </button>
  </div>

  <table class="table table-hover table-bordered shadow-sm">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Remark</th>
        <th width="140">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let dept of departments">
        <td>{{ dept.id }}</td>
        <td>{{ dept.name }}</td>
        <td>{{ dept.remark }}</td>

        <td>
          <button
            class="btn btn-sm btn-warning me-2"
            (click)="editDepartment(dept, dept.id)"
          >
            <i class="bi bi-pencil-square"></i>
          </button>

          <button class="btn btn-sm btn-danger" (click)="deleteDepartment(dept.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->

<div class="modal fade" id="departmentModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">@if(department.id) { Update } @else { Add } Department</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Department Name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="department.name"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label">Remark</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="department.remark"
            />
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>

        <button
          class="btn btn-primary"
          (click)="saveDepartment()"
          data-bs-dismiss="modal"
        >
        @if(department.id) 
        {
          Update 
        }
        @else 
        {
          Save
        }
        </button>
      </div>
    </div>
  </div>
</div>
