<div class="wrapper">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">
      <h4>GCEK</h4>
    </div>

    <ul class="menu">
      <li routerLink="home" routerLinkActive="active">
        <i class="bi bi-speedometer2"></i> Dashboard
      </li>

      <li routerLink="teachers" routerLinkActive="active">
        <i class="bi bi-person"></i> Teachers
      </li>

      <li routerLink="departments" routerLinkActive="active">
        <i class="bi bi-building"></i> Departments
      </li>
    </ul>
  </aside>

  <!-- Main Section -->
  <div class="main-content">
    <!-- Header -->
    <header class="topbar">
      <div class="left">
        <h5>Govt. college of engineering, Karad</h5>
      </div>

      <div class="right d-flex gap-3">
        <button
          class="btn btn-outline-primary btn-sm user"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Profile"
        >
          <i class="bi bi-person-circle"></i>
        </button>
        <button
          class="btn btn-outline-primary btn-sm user"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Logout"
          (click)="logout()"
        >
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </div>
    </header>

    <!-- Page Content -->
    <main class="content">
      <ngx-spinner
        bdColor="rgba(0, 0, 0, 0.5)"
        size="medium"
        color="#fff"
        type="ball-spin-clockwise"
      >
      </ngx-spinner>
      <router-outlet></router-outlet>
    </main>

    <!-- Floating Chat Button -->
    <button class="chat-toggle" (click)="toggleChat()">
      <i class="bi bi-chat-dots"></i>
    </button>

    <!-- Chat Popup -->
    <div class="chat-popup" *ngIf="isChatOpen" [class.open]="isChatOpen">
      <div class="chat-header">
        <span>AI Assistant</span>
        <button (click)="toggleChat()" class="btn btn-light btn-sm">      <i class="bi bi-x-square"></i>
</button>
      </div>

      <div class="chat-body">
        <div
          *ngFor="let msg of messages"
          [ngClass]="msg.role === 'user' ? 'user-msg' : 'bot-msg'"
        >
          {{ msg.text }}
        </div>
      </div>

      <div class="chat-footer">
        <input
          [(ngModel)]="question"
          (keyup.enter)="send()"
          placeholder="Ask something..."
        />
        <button (click)="send()">➤</button>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <p>© 2026 MyAdmin Dashboard</p>
    </footer>
  </div>
</div>
